@import '../../../../index.scss';

.button {
  padding: 14px;
  font: $font-style-base-text;
  color: $font-color-primary;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $border-color-primary;
}

.button--accent {
  border-style: none;
  background: $accent-background-color-primary;
}