@import '../../../../index.scss';

.input[type="number"],
.input[type="text"] {
  background-color: transparent;
  border: 1px solid $border-color-primary;
  border-radius: 4px;
  padding: 9px 10px;
  color: inherit;
  font: inherit;
  min-width: 50px;
  width: 50px;
}